<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haretskiy.pavel.magiccamera">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode,face" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cdd6e2b9836d2304fd3fa2a93fa24fd44b026930" />

        <activity
            android:name=".ui.activities.HostActivity"
            android:label="@string/title_activity_camera" />
        <activity
            android:name=".ui.activities.PhotoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_photo_detail"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".ui.activities.QrScanResultActivity" />

        <provider
            android:name=".providers.GenericFileProvider"
            android:authorities="com.haretskiy.pavel.magiccamera.providers.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providers_path" />
        </provider>

        <activity android:name=".ui.activities.ScanActivity" />
    </application>

</manifest>